<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
    <sitecore>
        <pipelines>
            <mvc.getPageRendering>
                <processor type="Sitecore.Foundation.Assets.Pipelines.GetPageRendering.AddAssets, Sitecore.Foundation.Assets">
                    <siteAssets hint="raw:AddAsset">

                  
                        <asset type="Css" file="/styles/bootstrap.min.css" />
                        <!-- Template styles-->
                        <asset type="Css" file="/styles/style.css" />
                        <!-- Responsive styles-->
                        <asset type="Css" file="/styles/responsive.css" />
                        <!-- FontAwesome -->
                        <asset type="Css" file="/styles/font-awesome.min.css" />
                        <!-- Animation -->
                        <asset type="Css" file="/styles/animate.css" />
                        <!-- Prettyphoto -->
                        <asset type="Css" file="/styles/prettyPhoto.css" />
                        <!-- Owl Carousel -->
                        <asset type="Css" file="/styles/owl.carousel.css" />
                        <asset type="Css" file="/styles/owl.theme.css" />
                        <!-- Flexslider -->
                        <asset type="Css" file="/styles/flexslider.css" />
                        <!-- Flexslider -->
                        <asset type="Css" file="/styles/cd-hero.css" />
                        <!-- Style Swicther -->
                        <asset type="Css" file="/styles/presets/preset3.css" />

                        <asset type="JavaScript" file="/scripts/jquery.js" location="Body"/>
                        <!-- Bootstrap jQuery -->
                        <asset type="JavaScript" file="/scripts/bootstrap.min.js" location="Body"/>
                        <!-- Style Switcher -->
                        <asset type="JavaScript" file="/scripts/style-switcher.js" location="Body"/>
                        <!-- Owl Carousel -->
                        <asset type="JavaScript" file="/scripts/owl.carousel.js" location="Body"/>
                        <!-- PrettyPhoto -->
                        <asset type="JavaScript" file="/scripts/jquery.prettyPhoto.js" location="Body"/>
                        <!-- Bxslider -->
                        <asset type="JavaScript" file="/scripts/jquery.flexslider.js" location="Body"/>
                        <!-- CD Hero slider -->
                        <asset type="JavaScript" file="/scripts/cd-hero.js" location="Body"/>
                        <!-- Isotope -->
                        <asset type="JavaScript" file="/scripts/isotope.js" location="Body"/>
                        <asset type="JavaScript" file="/scripts/ini.isotope.js" location="Body"/>
                        <!-- Wow Animation -->
                        <asset type="JavaScript" file="/scripts/wow.min.js" location="Body"/>
                        <!-- SmoothScroll -->
                        <asset type="JavaScript" file="/scripts/smoothscroll.js" location="Body"/>
                        <!-- Eeasing -->
                        <asset type="JavaScript" file="/scripts/jquery.easing.1.3.js" location="Body"/>
                        <!-- Counter -->
                        <asset type="JavaScript" file="/scripts/jquery.counterup.min.js" location="Body"/>
                        <!-- Waypoints -->
                        <asset type="JavaScript" file="/scripts/waypoints.min.js" location="Body"/>
                        <!-- Template custom -->
                        <asset type="JavaScript" file="/scripts/custom.js" location="Body"/>
                    </siteAssets>
                </processor>
            </mvc.getPageRendering>
        </pipelines>
        <settings>
            <setting name="WebStylesheet" value="/styles/editor.min.css" />
            <setting name="WFM.EnableBootstrapCssRendering" >
                <patch:attribute name="value" value="false" />
            </setting>
        </settings>
        <mediaLibrary>
            <mediaTypes>
                <mediaType name="SVG image" extensions="svg">
                    <mimeType>image/svg+xml</mimeType>
                    <forceDownload>false</forceDownload>
                    <sharedTemplate>system/media/unversioned/image</sharedTemplate>
                    <versionedTemplate>system/media/versioned/image</versionedTemplate>
                    <mediaValidator type="Sitecore.Resources.Media.ImageValidator"/>
                    <thumbnails>
                        <generator type="Sitecore.Resources.Media.ImageThumbnailGenerator, Sitecore.Kernel">
                            <extension>png</extension>
                        </generator>
                        <width>150</width>
                        <height>150</height>
                        <backgroundColor>#FFFFFF</backgroundColor>
                    </thumbnails>
                </mediaType>
            </mediaTypes>
        </mediaLibrary>
    </sitecore>
</configuration>