@using Hackathon.Feature.Identity
@using Hackathon.Feature.Identity.Repositories
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation

@{
    var datasource = RenderingContext.Current.Rendering.Item;

    if(!datasource.IsDerived(Templates.NavigationFolder))
    {
        return;
    }

<nav class="collapse navbar-collapse clearfix" role="navigation">
    <ul class="nav navbar-nav navbar-right">
        @foreach (var item in datasource.Children)
        {
            <li class="dropdown active">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Home <i class="fa fa-angle-down"></i></a>
                <div class="dropdown-menu">
                    <ul>
                        @foreach (var subItem in datasource.Children)
                        {
                            <li class="active"><a href="index.html">Home 1</a></li>
                        }
                        </ul>
                </div>
            </li>
        }
        </ul>
</nav>
