@using Hackathon.Feature.PageContent
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc
@model Sitecore.Mvc.Presentation.RenderingModel

@if (!Sitecore.Context.PageMode.IsExperienceEditor && !Html.Sitecore().HasValue(Templates.HasPageContent.Fields.Body.ToString()))
{
    return;
}

<section id="image-block" class="image-block no-padding">
    <div class="container-fluid">
        <div class="row">
         
            <div class="col-md-12 ts-padding img-block-right">
                @Html.Sitecore().Field(Templates.HasPageContent.Fields.Body)

            </div>
        </div>
    </div>
</section><!--/  block end -->
