<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <unicorn>
            <configurations>
                <configuration name="Project.Hackathon" description="Hackathon Project Templates Component" dependencies="Foundation.*">
                    <targetDataStore physicalRootPath="$(sourceFolder)\Project\Hackathon\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
                    <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
                        <include name="$(layer).$(module).Templates" database="master" path="/sitecore/templates/Project/Hackathon"></include>
                        <include name="$(layer).$(module).Layouts" database="master" path="/sitecore/layout/Layouts/Project/Hackathon"></include>
                        <include name="$(layer).$(module).PlaceholdersSettings" database="master" path="/sitecore/layout/Placeholder Settings/Project"></include>
                        <include name="$(layer).$(module).Branches" database="master" path= "/sitecore/templates/Branches/Project/Hackathon"></include>
                    </predicate>
                </configuration>
            </configurations>
        </unicorn>
        <sites>
            <site name="hackathon" patch:after="site[@name='modules_website']"
                  hostName="sxasc.dev.local"
                  database="web" 
                  virtualFolder="/" 
                  physicalFolder="/" 
                  rootPath="/sitecore/content/hackathon" 
                  startItem="/Home" 
                  domain="extranet" 
                  allowDebug="true" 
                  cacheHtml="true" 
                  htmlCacheSize="50MB" 
                  registryCacheSize="0" 
                  viewStateCacheSize="0" 
                  xslCacheSize="25MB" 
                  filteredItemsCacheSize="10MB" 
                  enablePreview="true" 
                  enableWebEdit="true" 
                  enableDebugger="true" 
                  disableClientData="false" 
                  cacheRenderingParameters="true" 
                  renderingParametersCacheSize="10MB" 
                  enableItemLanguageFallback="true" />
        </sites>
        <cacheSizes>
            <sites>
                <hackathon>
                    <html>50MB</html>
                    <registry>0</registry>
                    <viewState>0</viewState>
                    <xsl>25MB</xsl>
                </hackathon>
            </sites>
        </cacheSizes>
        <settings>
            <setting name="Preview.DefaultSite">
                <patch:attribute name="value" value="hackathon" />
            </setting>
        </settings>
    </sitecore>
</configuration>