<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <unicorn>
            <configurations>
                <configuration name="Project.Hackathon" description="Hackathon Project Templates Component" dependencies="Foundation.*">
                    <targetDataStore physicalRootPath="$(sourceFolder)\Project\Hackathon\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
                    <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
                        <include name="$(layer).$(module).Templates" database="master" path="/sitecore/templates/Project/Hackathon"></include>
                        <include name="$(layer).$(module).Layouts" database="master" path="/sitecore/layout/Layouts/Project/Hackathon"></include>
                        <include name="$(layer).$(module).PlaceholdersSettings" database="master" path="/sitecore/layout/Placeholder Settings/Project"></include>
                    </predicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>