<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement">
    <unicorn>
      <configurations>
        <configuration name="Foundation.Email" description="Foundation Email Component">
          <targetDataStore physicalRootPath="$(sourceFolder)\Foundation\Email\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="$(layer).$(module).Templates" database="master" path="/sitecore/templates/Foundation/Email"></include>
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>