<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentManagement">
        <unicorn>
            <configurations>
                <configuration name="Foundation.Accounts" description="Foundation Accounts" dependencies="Foundation.Serialization" >
                    <targetDataStore physicalRootPath="$(sourceFolder)\Foundation\Accounts\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
                    <predicate>
                        <include name="$(layer).$(module).Templates" database="master" path="/sitecore/templates/Foundation/Accounts" />
                    </predicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>