<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentManagement">
        <unicorn>
            <configurations>
                <configuration name="Feature.Social" description="Feature Social Component" dependencies="Foundation.*">
                    <targetDataStore physicalRootPath="$(sourceFolder)\feature\Social\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
                    <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
                        <include name="$(layer).$(module).Templates" database="master" path="/sitecore/templates/Feature/Social"></include>
                        <include name="$(layer).$(module).Renderings" database="master" path="/sitecore/layout/Renderings/Feature/Social"></include>
                    </predicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>